<a href="https://colab.research.google.com/github/PiotrMaciejKowalski/BigData2024Project/blob/Narzdzie-do-wizualizacji-na-mapach/wybranie_danych_z_jednego_mies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q dlcdn.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
!tar xf spark-3.5.0-bin-hadoop3.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"

import findspark
findspark.init()

from pyspark.sql import SparkSession

from google.colab import drive

from pyspark.sql.types import IntegerType, FloatType, StringType, StructType

import pandas as pd

In [49]:
from pyspark.sql import Window
from pyspark.sql.functions import row_number

# Wczytanie zbioru danych

In [36]:
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [37]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
# Wczytanie zbioru sampled w celu pobrania nazw kolumn
sampled = pd.read_csv('/content/drive/MyDrive/sampled_NASA_200k.csv')

# Utworzenie schematu określającego typ zmiennych
schemat = StructType()
for i in sampled.columns:
  if i == "Date":
    schemat = schemat.add(i, StringType(), True)
  else:
    schemat = schemat.add(i, FloatType(), True)

In [39]:
# Wczytanie zbioru Nasa w sparku
nasa = spark.read.format('csv').option("header", True).schema(schemat).load('/content/drive/MyDrive/NASA.csv')
nasa.show(5)

+---------+-------+------+---------+---------+---------+---------+---------+---------+----------+---+-----+-----+---------+---+----------+---+---------+---------+---+---------+--------+------------+-------------+--------------+---------------+------------+-------------+--------------+---------------+-------------+-------------+----------+------------+-------------+--------------+---------------+---------------+---------------+---------+----------+---------+----------+-------+------------+-----------+------------+----------+----------+----------+----------+---------+------------+---------+----------+----------+
|      lon|    lat|  Date|   SWdown|   LWdown|    SWnet|    LWnet|      Qle|       Qh|        Qg| Qf|Snowf|Rainf|     Evap| Qs|       Qsb|Qsm| AvgSurfT|   Albedo|SWE|SnowDepth|SnowFrac|SoilT_0_10cm|SoilT_10_40cm|SoilT_40_100cm|SoilT_100_200cm|SoilM_0_10cm|SoilM_10_40cm|SoilM_40_100cm|SoilM_100_200cm|SoilM_0_100cm|SoilM_0_200cm| RootMoist|SMLiq_0_10cm|SMLiq_10_40cm|SMLiq_40_100cm|SMLiq_100_200cm|SMAvail_0_100cm|SMAvail_0_200cm|  PotEvap|    ECanop|     TVeg|     ESoil|SubSnow|    CanopInt|      ACond|       CCond|       RCS|       RCT|       RCQ|     RCSOL|    RSmin|      RSMacr|      LAI|      GVEG|Streamflow|
+---------+-------+------+---------+---------+---------+---------+---------+---------+----------+---+-----+-----+---------+---+----------+---+---------+---------+---+---------+--------+------------+-------------+--------------+---------------+------------+-------------+--------------+---------------+-------------+-------------+----------+------------+-------------+--------------+---------------+---------------+---------------+---------+----------+---------+----------+-------+------------+-----------+------------+----------+----------+----------+----------+---------+------------+---------+----------+----------+
|-112.0625|25.0625|200001|204.96333| 312.3388|142.34848|-79.38684|4.0884414|60.853363|-1.0944891|0.0|  0.0|  0.0|   4.3807|0.0|       0.0|0.0| 288.0707| 41.47715|0.0|      0.0|     0.0|   288.16504|    288.54617|     289.00714|      289.58118|    12.89713|    40.709217|      80.87555|      108.76931|    134.48306|    243.25247|  243.2525|   12.897395|     40.70972|      80.87607|      108.76945|      14.985342|      27.705273|139.13737| 1.0491934| 5.008604| 3.3424733|    0.0| 0.013812637|0.020544387|0.0018493001|0.29177997|0.92080206| 0.9198521|0.16886948|     70.0|  0.02467066|3.3421633|0.19712792|      NULL|
|-111.9375|25.0625|200001|202.94218|306.12143|  140.832|-82.56643| 4.357929|56.398518|-1.5567192|0.0|  0.0|  0.0|4.6673994|0.0|       0.0|0.0|287.39276|41.509407|0.0|      0.0|     0.0|   287.54395|    288.12088|      288.8017|       289.7478|   11.615492|     40.14989|     78.334175|       90.67495|    130.09966|    220.77449| 220.77466|   11.615603|     40.15009|      78.33402|       90.67476|       11.97606|      25.147991|162.25638| 0.7321236| 4.863981| 2.4353497|    0.0| 0.009291933| 0.01856994|0.0013284235|0.29177707| 0.8985194|0.89268667| 0.1348082|     70.0| 0.016704414|3.2925992|0.19860405|      NULL|
|-111.8125|25.0625|200001|203.27449| 303.2381|141.06544|-87.69759|5.4638424| 51.09166|-1.9299734|0.0|  0.0|  0.0|5.8487973|0.0|       0.0|0.0| 287.6554|41.505375|0.0|      0.0|     0.0|   287.84473|    288.59302|     289.55984|       291.0862|    9.950655|    33.016888|     60.982506|      161.94794|    103.95008|    265.89853| 103.95005|    9.950759|    33.017178|     60.982143|      161.94843|      10.250145|      30.286282|121.55404|0.26465052|5.9029574| 0.8350811|    0.0|0.0031448924|0.009581985|0.0015826927|0.28187105| 0.8914246| 0.9112068|0.11508878|     35.0| 0.007892415| 2.272067|0.17118543|      NULL|
|-111.6875|25.0625|200001|204.13232|301.05048|141.65108|-89.49369|6.0123606| 49.63968|-2.0993278|0.0|  0.0|  0.0|6.4366016|0.0|       0.0|0.0| 287.5386|41.501343|0.0|      0.0|     0.0|   287.75275|    288.58203|     289.61142|      291.25577|    9.597857|    33.778393|     62.656994|      163.44402|    106.03301|    269.47733|106.032845|    9.597921|    33.778442|      62.65654|      163.44409|      10.808873|      30.691833|127.63407|0.22688179|6.3983865|0.70120984|    0.0|0.0025833342|0.009341394|0.0016092625|0.28229982| 0.8899329|  0.887931|0.12143098|     35.0|0.0064906063| 2.272067|0.17118543|      NULL|
|-111.5625|25.0625|200001|205.44482| 299.2597|142.54315|-89.47336| 3.222715|53.475708| -2.327957|0.0|  0.0|  0.0|3.4506986|0.0|0.14880137|0.0| 287.2394|41.509407|0.0|      0.0|     0.0|   287.46533|    288.33078|      289.2371|       290.5583|    9.848745|     49.15142|    102.429855|      187.07886|    161.43011|    348.50867| 161.43001|    9.848877|    49.151302|     102.43015|      187.07864|      25.649096|      39.697018|179.37668|0.22432795|3.3587356| 1.1965054|    0.0| 0.002467338|0.014541673|9.7257685E-4| 0.2501108|0.88808286| 0.8399929| 0.2850619|225.00002|0.0077566737| 4.485856| 0.1429876|      NULL|
+---------+-------+------+---------+---------+---------+---------+---------+---------+----------+---+-----+-----+---------+---+----------+---+---------+---------+---+---------+--------+------------+-------------+--------------+---------------+------------+-------------+--------------+---------------+-------------+-------------+----------+------------+-------------+--------------+---------------+---------------+---------------+---------+----------+---------+----------+-------+------------+-----------+------------+----------+----------+----------+----------+---------+------------+---------+----------+----------+
only showing top 5 rows

In [40]:
nasa.createOrReplaceTempView("nasa")

Na potrzeby przedstawienia danych na mapie zostawimy jedynie dane z grudnia 2022 roku.

In [41]:
nasa_dec22 = spark.sql("""
    SELECT
        CAST(SUBSTRING(CAST(Date AS STRING), 1, 4) AS INT) AS Year,
        CAST(SUBSTRING(CAST(Date AS STRING), 5, 2) AS INT) AS Month,
        n.*
    FROM nasa n
    WHERE CAST(SUBSTRING(CAST(Date AS STRING), 1, 4) AS INT) = 2022
      AND CAST(SUBSTRING(CAST(Date AS STRING), 5, 2) AS INT) = 12
""")

In [42]:
nasa_dec22 = nasa_dec22.drop("Date")
nasa_dec22.show(5)

+----+-----+---------+-------+--------+--------+--------+---------+--------+--------+---------+---+-----+------+--------+---+---------+---+--------+--------+---+---------+--------+------------+-------------+--------------+---------------+------------+-------------+--------------+---------------+-------------+-------------+---------+------------+-------------+--------------+---------------+---------------+---------------+--------+----------+--------+--------+-------+-----------+-----------+-----------+---------+---------+---------+---------+-----+------+--------+----------+----------+
|Year|Month|      lon|    lat|  SWdown|  LWdown|   SWnet|    LWnet|     Qle|      Qh|       Qg| Qf|Snowf| Rainf|    Evap| Qs|      Qsb|Qsm|AvgSurfT|  Albedo|SWE|SnowDepth|SnowFrac|SoilT_0_10cm|SoilT_10_40cm|SoilT_40_100cm|SoilT_100_200cm|SoilM_0_10cm|SoilM_10_40cm|SoilM_40_100cm|SoilM_100_200cm|SoilM_0_100cm|SoilM_0_200cm|RootMoist|SMLiq_0_10cm|SMLiq_10_40cm|SMLiq_40_100cm|SMLiq_100_200cm|SMAvail_0_100cm|SMAvail_0_200cm| PotEvap|    ECanop|    TVeg|   ESoil|SubSnow|   CanopInt|      ACond|      CCond|      RCS|      RCT|      RCQ|    RCSOL|RSmin|RSMacr|     LAI|      GVEG|Streamflow|
+----+-----+---------+-------+--------+--------+--------+---------+--------+--------+---------+---+-----+------+--------+---+---------+---+--------+--------+---+---------+--------+------------+-------------+--------------+---------------+------------+-------------+--------------+---------------+-------------+-------------+---------+------------+-------------+--------------+---------------+---------------+---------------+--------+----------+--------+--------+-------+-----------+-----------+-----------+---------+---------+---------+---------+-----+------+--------+----------+----------+
|2022|   12|-112.0625|25.0625| 176.298|334.6062|122.0555|-67.65456|5.989244|51.22302|-2.206182|0.0|  0.0|0.2221|6.412901|0.0|0.9794981|0.0|290.0607|41.64785|0.0|      0.0|     0.0|    290.2148|     290.8415|      291.6592|       292.4118|    13.45235|     58.46677|      122.6921|       212.6517|     194.6115|      407.264| 407.2636|    13.45256|     58.46705|      122.6922|       212.6523|       36.97715|       46.38307|146.8979| 0.3165323|4.290726|4.655512|    0.0|0.003775269| 0.02166403|0.003874382|0.2930003|0.9479692| 0.896147|0.4462627| 70.0|   0.0| 2.61743| 0.0922808|      NULL|
|2022|   12|-111.9375|25.0625|174.7705|329.3503|120.8992|-69.56602|5.368684|49.42904|-2.851208|0.0|  0.0|0.2053|  5.7503|0.0|0.2976027|0.0|289.3844|41.66935|0.0|      0.0|     0.0|    289.6042|     290.4854|      291.6233|       292.9176|    11.89858|     57.62592|      118.1148|       195.4761|     187.6393|     383.1151| 383.1154|    11.89874|     57.62598|       118.115|       195.4766|       33.77957|       43.69221|161.1023| 0.2383065|4.501476|3.040323|    0.0|0.002704167| 0.01972721|0.003307122|0.2930918|0.9292956|0.8830081|0.4089239| 70.0|   0.0|2.589685| 0.0922808|      NULL|
|2022|   12|-111.8125|25.0625|175.9049|326.6059|121.6821|-75.01193|4.981588|45.67988|-3.229707|0.0|  0.0|0.1881|5.334598|0.0| 1.043794|0.0|289.7863|41.66667|0.0|      0.0|     0.0|    290.0205|     290.9895|      292.2896|       293.7942|    11.66988|     57.64863|      120.4118|        213.635|     189.7309|     403.3657| 189.7307|    11.67006|     57.64893|      120.4121|       213.6349|       33.26344|           46.0|114.5899|0.07768818|3.790052|2.024328|    0.0|8.372311E-4| 0.01015457| 0.00368569|0.3073952|0.9211021|0.9142599|0.3993548| 35.0|   0.0|1.335221|0.07229444|      NULL|
|2022|   12|-111.6875|25.0625|177.3972|323.9445|122.7079|-76.61979|5.004032|45.37538|-3.480512|0.0|  0.0| 0.172|5.358699|0.0| 0.924508|0.0|289.5664|41.66398|0.0|      0.0|     0.0|    289.8285|     290.8945|      292.2978|       293.9609|    11.33266|     57.48109|      119.6877|       211.6995|     188.5023|     400.2022| 188.5024|    11.33284|     57.48114|       119.688|       211.6999|       32.83468|       45.63979|118.4887|0.06680107|3.898792| 1.82594|    0.0|6.920702E-4|0.009998659|0.003591887|0.3083536|0.9162583|0.9022046|0.3950301| 35.0|   0.0|1.335221|0.07229444|      NULL|
|2022|   12|-111.5625|25.0625|178.8335|321.7928|123.6887| -75.0811|2.941934|50.19005| -3.73562|0.0|  0.0|0.1847|3.150601|0.0| 3.977103|0.0|288.9047| 41.6586|0.0|      0.0|     0.0|    289.2009|     290.3768|      291.8187|       293.5816|    10.89326|     63.63903|      132.2807|       235.8638|     206.8133|     442.6763| 206.8133|    10.89344|     63.63942|      132.2811|       235.8642|       37.96371|       50.38576|165.1529|0.08239245|1.802419| 2.09301|    0.0|8.201614E-4| 0.01547983|0.001178293|0.2732558|0.9119141|0.8716273|0.4488373|225.0|   0.0|2.902805|0.06993423|      NULL|
+----+-----+---------+-------+--------+--------+--------+---------+--------+--------+---------+---+-----+------+--------+---+---------+---+--------+--------+---+---------+--------+------------+-------------+--------------+---------------+------------+-------------+--------------+---------------+-------------+-------------+---------+------------+-------------+--------------+---------------+---------------+---------------+--------+----------+--------+--------+-------+-----------+-----------+-----------+---------+---------+---------+---------+-----+------+--------+----------+----------+
only showing top 5 rows

Zostawmy tylko unikatowe lokalizacje, tj. unikatowe pary wartości lon i lat:

In [52]:
window_spec = Window.partitionBy('lon', 'lat').orderBy('lon', 'lat')
# numerujemy, który raz z kolei dana lokalizacja pojawia się w zbiorze
nasa_dec22_with_loc_row_num = nasa_dec22.withColumn('row_num', row_number().over(window_spec))
nasa_dec22_loc = nasa_dec22_with_loc_row_num.filter('row_num = 1').drop('row_num')

I przenieśmy się na pandas, zapisując od razu wydzielony z oryginalnych danych podzbiór:

In [54]:
nasa_dec22_loc = nasa_dec22_loc.toPandas()
nasa_dec22_loc.to_csv('/content/drive/MyDrive/nasa_dec22_loc.csv', index=False)