## **Implementacja algorytmu kkN**

### **1. Wczytanie zbioru**

In [50]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q dlcdn.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
!tar xf spark-3.5.0-bin-hadoop3.tgz
!pip install -q findspark

In [51]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"

import findspark
findspark.init()

In [73]:
from functools import reduce
import math
from typing import Optional, Tuple, List

import pandas as pd
import numpy as np
from geopy.distance import geodesic

from pyspark.sql import SparkSession, DataFrame as SparkDataFrame, functions as F
from pyspark.sql.types import IntegerType, FloatType, StringType, StructType, StructField, Row

from google.colab import drive

In [53]:
spark = (
         SparkSession.builder
        .master("local")
        .appName("Colab")
        .config('spark.ui.port', '4050')
        .getOrCreate()
)
conf = spark.sparkContext._conf.setAll([('spark.executor.memory', '100g'), ('spark.driver.memory','64g')])
spark.conf.set("park.driver.maxResultSize", "80g")

spark.conf.set('spark.sql.execution.arrow.enabled', 'true')

In [54]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [55]:
columns = ['lon', 'lat', 'Date', 'Rainf', 'Evap', 'AvgSurfT', 'Albedo','SoilT_10_40cm', 'GVEG', 'PotEvap', 'RootMoist', 'SoilM_100_200cm']

# Utworzenie schematu określającego typ zmiennych
schema = StructType()
for i in columns:
  if i == "Date":
    schema = schema.add(i, IntegerType(), True)
  else:
    schema = schema.add(i, FloatType(), True)

In [56]:
%%time
# Wczytanie zbioru Nasa w sparku

nasa = spark.read.format('csv').option("header", True).schema(schema).load('/content/drive/MyDrive/BigMess/NASA/NASA.csv')
nasa.createOrReplaceTempView("nasa")

nasa = (
    nasa
    .withColumn('Year', (F.col('Date') / 100).cast('int'))
    .withColumn('Month', F.col('Date') % 100)
    .drop('Date')
)
nasa.show(5)

+---------+-------+-----+---------+---------+---------+-------------+----------+---------+----------+---------------+----+-----+
|      lon|    lat|Rainf|     Evap| AvgSurfT|   Albedo|SoilT_10_40cm|      GVEG|  PotEvap| RootMoist|SoilM_100_200cm|Year|Month|
+---------+-------+-----+---------+---------+---------+-------------+----------+---------+----------+---------------+----+-----+
|-112.0625|25.0625|  0.0|   4.3807| 288.0707| 41.47715|    289.00714|0.19712792|139.13737|  243.2525|      108.76931|2000|    1|
|-111.9375|25.0625|  0.0|4.6673994|287.39276|41.509407|     288.8017|0.19860405|162.25638| 220.77466|       90.67495|2000|    1|
|-111.8125|25.0625|  0.0|5.8487973| 287.6554|41.505375|    289.55984|0.17118543|121.55404| 103.95005|      161.94794|2000|    1|
|-111.6875|25.0625|  0.0|6.4366016| 287.5386|41.501343|    289.61142|0.17118543|127.63407|106.032845|      163.44402|2000|    1|
|-111.5625|25.0625|  0.0|3.4506986| 287.2394|41.509407|     289.2371| 0.1429876|179.37668| 161.43001|      187.07886|2000|    1|
+---------+-------+-----+---------+---------+---------+-------------+----------+---------+----------+---------------+----+-----+
only showing top 5 rows

CPU times: user 10.1 ms, sys: 75 µs, total: 10.2 ms
Wall time: 389 ms

In [57]:
nasa_coords = spark.sql("""SELECT DISTINCT lat, lon FROM nasa""")
nasa_coords.collect()

[Row(lat=25.1875, lon=-104.8125),
 Row(lat=25.1875, lon=-101.8125),
 Row(lat=25.4375, lon=-99.8125),
 Row(lat=25.5625, lon=-105.6875),
 Row(lat=25.9375, lon=-103.3125),
 Row(lat=26.3125, lon=-106.0625),
 Row(lat=26.4375, lon=-101.6875),
 Row(lat=26.4375, lon=-80.9375),
 Row(lat=26.5625, lon=-106.4375),
 Row(lat=26.6875, lon=-98.1875),
 Row(lat=26.6875, lon=-82.0625),
 Row(lat=26.9375, lon=-81.4375),
 Row(lat=27.1875, lon=-101.3125),
 Row(lat=27.4375, lon=-81.6875),
 Row(lat=28.4375, lon=-104.1875),
 Row(lat=30.4375, lon=-115.1875),
 Row(lat=32.0625, lon=-112.5625),
 Row(lat=32.1875, lon=-81.3125),
 Row(lat=32.3125, lon=-115.8125),
 Row(lat=32.3125, lon=-102.9375),
 Row(lat=32.3125, lon=-102.8125),
 Row(lat=32.3125, lon=-84.0625),
 Row(lat=32.4375, lon=-112.6875),
 Row(lat=32.5625, lon=-108.5625),
 Row(lat=32.5625, lon=-88.4375),
 Row(lat=32.5625, lon=-80.5625),
 Row(lat=32.6875, lon=-81.6875),
 Row(lat=32.8125, lon=-105.3125),
 Row(lat=33.1875, lon=-103.6875),
 Row(lat=33.5625, lon=-83.1875),
 Row(lat=33.6875, lon=-111.4375),
 Row(lat=33.6875, lon=-86.8125),
 Row(lat=33.9375, lon=-118.3125),
 Row(lat=34.0625, lon=-89.9375),
 Row(lat=34.1875, lon=-100.9375),
 Row(lat=34.1875, lon=-86.8125),
 Row(lat=34.4375, lon=-91.0625),
 Row(lat=34.4375, lon=-80.1875),
 Row(lat=34.9375, lon=-116.1875),
 Row(lat=34.9375, lon=-101.1875),
 Row(lat=34.9375, lon=-77.6875),
 Row(lat=35.0625, lon=-117.6875),
 Row(lat=35.0625, lon=-102.8125),
 Row(lat=35.3125, lon=-115.9375),
 Row(lat=35.3125, lon=-103.9375),
 Row(lat=35.6875, lon=-113.6875),
 Row(lat=35.8125, lon=-88.9375),
 Row(lat=36.1875, lon=-104.4375),
 Row(lat=27.6875, lon=-114.5625),
 Row(lat=28.9375, lon=-95.4375),
 Row(lat=29.5625, lon=-115.0625),
 Row(lat=29.5625, lon=-107.1875),
 Row(lat=29.6875, lon=-101.4375),
 Row(lat=30.0625, lon=-93.9375),
 Row(lat=30.4375, lon=-89.3125),
 Row(lat=30.6875, lon=-115.4375),
 Row(lat=30.6875, lon=-97.9375),
 Row(lat=30.8125, lon=-105.8125),
 Row(lat=30.8125, lon=-102.5625),
 Row(lat=30.9375, lon=-86.1875),
 Row(lat=31.0625, lon=-106.0625),
 Row(lat=31.3125, lon=-95.4375),
 Row(lat=31.6875, lon=-94.0625),
 Row(lat=31.6875, lon=-87.8125),
 Row(lat=31.8125, lon=-111.3125),
 Row(lat=31.8125, lon=-84.5625),
 Row(lat=31.9375, lon=-102.1875),
 Row(lat=31.9375, lon=-87.3125),
 Row(lat=32.5625, lon=-93.1875),
 Row(lat=32.8125, lon=-105.5625),
 Row(lat=33.3125, lon=-90.4375),
 Row(lat=33.9375, lon=-89.8125),
 Row(lat=34.1875, lon=-100.3125),
 Row(lat=34.1875, lon=-98.3125),
 Row(lat=34.3125, lon=-98.0625),
 Row(lat=34.3125, lon=-87.8125),
 Row(lat=34.5625, lon=-107.1875),
 Row(lat=34.5625, lon=-97.4375),
 Row(lat=34.6875, lon=-114.0625),
 Row(lat=34.6875, lon=-79.0625),
 Row(lat=34.8125, lon=-110.8125),
 Row(lat=34.8125, lon=-99.5625),
 Row(lat=34.8125, lon=-85.6875),
 Row(lat=34.8125, lon=-79.0625),
 Row(lat=35.3125, lon=-118.5625),
 Row(lat=35.3125, lon=-106.8125),
 Row(lat=35.4375, lon=-116.5625),
 Row(lat=35.4375, lon=-86.5625),
 Row(lat=35.5625, lon=-101.0625),
 Row(lat=35.5625, lon=-86.4375),
 Row(lat=35.5625, lon=-84.8125),
 Row(lat=35.6875, lon=-116.1875),
 Row(lat=35.9375, lon=-121.1875),
 Row(lat=35.9375, lon=-87.5625),
 Row(lat=36.0625, lon=-118.4375),
 Row(lat=36.0625, lon=-96.4375),
 Row(lat=36.1875, lon=-96.0625),
 Row(lat=36.4375, lon=-109.8125),
 Row(lat=36.4375, lon=-109.1875),
 Row(lat=36.4375, lon=-90.4375),
 Row(lat=36.5625, lon=-114.1875),
 Row(lat=36.5625, lon=-109.0625),
 Row(lat=36.5625, lon=-104.5625),
 Row(lat=36.5625, lon=-93.4375),
 Row(lat=36.8125, lon=-106.6875),
 Row(lat=36.9375, lon=-92.8125),
 Row(lat=37.0625, lon=-119.0625),
 Row(lat=37.0625, lon=-104.5625),
 Row(lat=37.1875, lon=-83.8125),
 Row(lat=37.3125, lon=-118.1875),
 Row(lat=37.3125, lon=-108.9375),
 Row(lat=37.3125, lon=-103.8125),
 Row(lat=37.3125, lon=-102.8125),
 Row(lat=37.4375, lon=-117.6875),
 Row(lat=37.4375, lon=-86.3125),
 Row(lat=37.5625, lon=-98.3125),
 Row(lat=37.5625, lon=-79.4375),
 Row(lat=37.9375, lon=-80.9375),
 Row(lat=38.0625, lon=-122.0625),
 Row(lat=38.0625, lon=-111.6875),
 Row(lat=38.0625, lon=-105.5625),
 Row(lat=38.3125, lon=-89.0625),
 Row(lat=38.3125, lon=-83.5625),
 Row(lat=38.4375, lon=-101.1875),
 Row(lat=38.4375, lon=-89.0625),
 Row(lat=38.4375, lon=-82.1875),
 Row(lat=38.5625, lon=-122.3125),
 Row(lat=38.5625, lon=-77.9375),
 Row(lat=38.6875, lon=-95.4375),
 Row(lat=38.9375, lon=-119.0625),
 Row(lat=38.9375, lon=-105.0625),
 Row(lat=38.9375, lon=-92.5625),
 Row(lat=39.0625, lon=-108.5625),
 Row(lat=39.0625, lon=-85.0625),
 Row(lat=39.1875, lon=-120.8125),
 Row(lat=39.1875, lon=-80.4375),
 Row(lat=39.3125, lon=-78.1875),
 Row(lat=39.4375, lon=-83.4375),
 Row(lat=39.5625, lon=-101.8125),
 Row(lat=39.6875, lon=-103.6875),
 Row(lat=39.6875, lon=-94.4375),
 Row(lat=39.8125, lon=-123.4375),
 Row(lat=39.8125, lon=-108.9375),
 Row(lat=39.8125, lon=-106.5625),
 Row(lat=39.8125, lon=-90.1875),
 Row(lat=39.8125, lon=-86.4375),
 Row(lat=39.9375, lon=-103.8125),
 Row(lat=39.9375, lon=-79.3125),
 Row(lat=40.0625, lon=-112.6875),
 Row(lat=40.0625, lon=-103.1875),
 Row(lat=40.0625, lon=-90.5625),
 Row(lat=40.0625, lon=-83.3125),
 Row(lat=40.1875, lon=-109.1875),
 Row(lat=40.1875, lon=-100.8125),
 Row(lat=40.1875, lon=-96.0625),
 Row(lat=40.3125, lon=-81.5625),
 Row(lat=40.4375, lon=-120.8125),
 Row(lat=40.5625, lon=-122.3125),
 Row(lat=40.5625, lon=-110.1875),
 Row(lat=40.5625, lon=-89.8125),
 Row(lat=40.6875, lon=-109.8125),
 Row(lat=40.6875, lon=-97.6875),
 Row(lat=40.6875, lon=-76.8125),
 Row(lat=40.8125, lon=-101.6875),
 Row(lat=40.8125, lon=-97.8125),
 Row(lat=40.8125, lon=-87.4375),
 Row(lat=40.9375, lon=-97.6875),
 Row(lat=40.9375, lon=-83.9375),
 Row(lat=41.0625, lon=-90.5625),
 Row(lat=41.1875, lon=-122.9375),
 Row(lat=41.1875, lon=-117.5625),
 Row(lat=41.1875, lon=-89.6875),
 Row(lat=41.4375, lon=-90.4375),
 Row(lat=41.4375, lon=-76.5625),
 Row(lat=41.6875, lon=-111.8125),
 Row(lat=41.6875, lon=-108.9375),
 Row(lat=41.8125, lon=-115.6875),
 Row(lat=41.8125, lon=-115.5625),
 Row(lat=41.8125, lon=-100.8125),
 Row(lat=41.8125, lon=-75.9375),
 Row(lat=41.9375, lon=-83.8125),
 Row(lat=41.9375, lon=-74.8125),
 Row(lat=41.9375, lon=-72.9375),
 Row(lat=42.1875, lon=-115.5625),
 Row(lat=42.1875, lon=-112.9375),
 Row(lat=42.3125, lon=-119.0625),
 Row(lat=42.4375, lon=-99.3125),
 Row(lat=42.5625, lon=-118.1875),
 Row(lat=42.5625, lon=-104.0625),
 Row(lat=42.5625, lon=-92.5625),
 Row(lat=42.8125, lon=-122.3125),
 Row(lat=42.8125, lon=-77.4375),
 Row(lat=42.9375, lon=-123.5625),
 Row(lat=42.9375, lon=-113.8125),
 Row(lat=42.9375, lon=-111.4375),
 Row(lat=42.9375, lon=-96.1875),
 Row(lat=43.0625, lon=-92.9375),
 Row(lat=43.3125, lon=-85.8125),
 Row(lat=43.4375, lon=-113.1875),
 Row(lat=43.5625, lon=-116.0625),
 Row(lat=43.5625, lon=-105.9375),
 Row(lat=43.5625, lon=-75.0625),
 Row(lat=43.6875, lon=-111.0625),
 Row(lat=43.6875, lon=-91.1875),
 Row(lat=43.8125, lon=-116.5625),
 Row(lat=43.8125, lon=-109.1875),
 Row(lat=43.8125, lon=-80.8125),
 Row(lat=43.8125, lon=-80.0625),
 Row(lat=43.9375, lon=-98.9375),
 Row(lat=43.9375, lon=-77.1875),
 Row(lat=44.0625, lon=-90.4375),
 Row(lat=44.0625, lon=-72.4375),
 Row(lat=44.1875, lon=-88.6875),
 Row(lat=44.3125, lon=-117.8125),
 Row(lat=44.3125, lon=-111.9375),
 Row(lat=44.3125, lon=-110.9375),
 Row(lat=44.3125, lon=-101.4375),
 Row(lat=44.3125, lon=-85.8125),
 Row(lat=44.3125, lon=-71.0625),
 Row(lat=44.4375, lon=-76.1875),
 Row(lat=44.5625, lon=-123.4375),
 Row(lat=44.5625, lon=-121.0625),
 Row(lat=44.5625, lon=-89.3125),
 Row(lat=44.6875, lon=-93.0625),
 Row(lat=44.6875, lon=-79.4375),
 Row(lat=44.6875, lon=-74.4375),
 Row(lat=44.8125, lon=-122.3125),
 Row(lat=44.8125, lon=-121.1875),
 Row(lat=44.8125, lon=-85.9375),
 Row(lat=44.9375, lon=-99.0625),
 Row(lat=44.9375, lon=-91.0625),
 Row(lat=44.9375, lon=-84.1875),
 Row(lat=45.1875, lon=-114.0625),
 Row(lat=45.1875, lon=-111.5625),
 Row(lat=45.3125, lon=-95.0625),
 Row(lat=45.3125, lon=-75.8125),
 Row(lat=45.3125, lon=-75.0625),
 Row(lat=45.4375, lon=-110.3125),
 Row(lat=45.4375, lon=-75.5625),
 Row(lat=45.4375, lon=-74.4375),
 Row(lat=45.5625, lon=-102.4375),
 Row(lat=45.5625, lon=-92.4375),
 Row(lat=45.6875, lon=-118.1875),
 Row(lat=45.6875, lon=-109.4375),
 Row(lat=45.8125, lon=-121.6875),
 Row(lat=45.8125, lon=-69.4375),
 Row(lat=45.9375, lon=-76.0625),
 Row(lat=46.0625, lon=-116.5625),
 Row(lat=46.0625, lon=-70.8125),
 Row(lat=46.3125, lon=-69.4375),
 Row(lat=46.4375, lon=-119.3125),
 Row(lat=46.4375, lon=-103.4375),
 Row(lat=46.5625, lon=-78.6875),
 Row(lat=46.6875, lon=-122.1875),
 Row(lat=46.8125, lon=-111.4375),
 Row(lat=46.9375, lon=-113.0625),
 Row(lat=46.9375, lon=-81.0625),
 Row(lat=47.0625, lon=-123.6875),
 Row(lat=47.0625, lon=-80.6875),
 Row(lat=47.1875, lon=-122.6875),
 Row(lat=47.1875, lon=-74.8125),
 Row(lat=47.3125, lon=-106.8125),
 Row(lat=47.3125, lon=-105.4375),
 Row(lat=47.3125, lon=-75.9375),
 Row(lat=47.4375, lon=-91.0625),
 Row(lat=47.4375, lon=-77.4375),
 Row(lat=47.4375, lon=-71.4375),
 Row(lat=47.5625, lon=-113.4375),
 Row(lat=47.5625, lon=-99.1875),
 Row(lat=47.5625, lon=-79.4375),
 Row(lat=47.6875, lon=-91.9375),
 Row(lat=47.6875, lon=-79.9375),
 Row(lat=47.6875, lon=-70.9375),
 Row(lat=47.8125, lon=-119.5625),
 Row(lat=47.8125, lon=-70.4375),
 Row(lat=47.9375, lon=-116.0625),
 Row(lat=47.9375, lon=-73.3125),
 Row(lat=48.0625, lon=-99.8125),
 Row(lat=48.0625, lon=-85.1875),
 Row(lat=48.1875, lon=-119.1875),
 Row(lat=48.1875, lon=-113.9375),
 Row(lat=48.1875, lon=-69.8125),
 Row(lat=48.3125, lon=-115.3125),
 Row(lat=48.3125, lon=-80.3125),
 Row(lat=48.3125, lon=-67.6875),
 Row(lat=48.4375, lon=-106.4375),
 Row(lat=48.5625, lon=-83.6875),
 Row(lat=48.5625, lon=-67.0625),
 Row(lat=48.6875, lon=-106.6875),
 Row(lat=48.6875, lon=-77.1875),
 Row(lat=48.8125, lon=-98.5625),
 Row(lat=48.8125, lon=-92.1875),
 Row(lat=48.9375, lon=-76.6875),
 Row(lat=49.0625, lon=-117.0625),
 Row(lat=49.0625, lon=-82.6875),
 Row(lat=49.0625, lon=-72.0625),
 Row(lat=49.1875, lon=-118.0625),
 Row(lat=49.4375, lon=-118.8125),
 Row(lat=49.4375, lon=-69.8125),
 Row(lat=49.5625, lon=-110.3125),
 Row(lat=49.5625, lon=-104.9375),
 Row(lat=49.5625, lon=-72.0625),
 Row(lat=49.6875, lon=-97.9375),
 Row(lat=49.6875, lon=-90.4375),
 Row(lat=49.6875, lon=-79.0625),
 Row(lat=49.6875, lon=-69.8125),
 Row(lat=49.8125, lon=-84.8125),
 Row(lat=49.9375, lon=-99.5625),
 Row(lat=50.1875, lon=-121.6875),
 Row(lat=50.1875, lon=-114.5625),
 Row(lat=50.3125, lon=-109.4375),
 Row(lat=50.3125, lon=-103.9375),
 Row(lat=50.3125, lon=-101.3125),
 Row(lat=50.3125, lon=-83.4375),
 Row(lat=50.4375, lon=-124.8125),
 Row(lat=50.4375, lon=-109.9375),
 Row(lat=50.4375, lon=-102.8125),
 Row(lat=50.4375, lon=-74.9375),
 Row(lat=50.5625, lon=-118.0625),
 Row(lat=50.5625, lon=-82.3125),
 Row(lat=50.6875, lon=-118.9375),
 Row(lat=50.6875, lon=-110.5625),
 Row(lat=50.6875, lon=-83.4375),
 Row(lat=50.6875, lon=-72.3125),
 Row(lat=50.8125, lon=-123.6875),
 Row(lat=50.8125, lon=-98.1875),
 Row(lat=50.8125, lon=-95.6875),
 Row(lat=50.8125, lon=-82.8125),
 Row(lat=50.8125, lon=-67.8125),
 Row(lat=50.9375, lon=-112.3125),
 Row(lat=51.0625, lon=-94.9375),
 Row(lat=51.0625, lon=-77.1875),
 Row(lat=51.1875, lon=-109.0625),
 Row(lat=51.1875, lon=-96.4375),
 Row(lat=51.1875, lon=-74.1875),
 Row(lat=51.3125, lon=-115.8125),
 Row(lat=51.3125, lon=-106.8125),
 Row(lat=51.3125, lon=-91.6875),
 Row(lat=51.3125, lon=-87.6875),
 Row(lat=51.4375, lon=-104.0625),
 Row(lat=51.4375, lon=-97.6875),
 Row(lat=51.4375, lon=-94.9375),
 Row(lat=51.4375, lon=-70.5625),
 Row(lat=51.5625, lon=-123.9375),
 Row(lat=51.5625, lon=-102.5625),
 Row(lat=51.5625, lon=-78.1875),
 Row(lat=51.6875, lon=-123.5625),
 Row(lat=51.6875, lon=-111.0625),
 Row(lat=51.6875, lon=-86.0625),
 Row(lat=52.0625, lon=-122.9375),
 Row(lat=52.0625, lon=-121.6875),
 Row(lat=52.0625, lon=-110.8125),
 Row(lat=52.0625, lon=-94.4375),
 Row(lat=52.0625, lon=-90.9375),
 Row(lat=52.0625, lon=-67.4375),
 Row(lat=52.1875, lon=-105.6875),
 Row(lat=52.3125, lon=-117.1875),
 Row(lat=52.3125, lon=-115.6875),
 Row(lat=52.4375, lon=-93.0625),
 Row(lat=52.5625, lon=-112.0625),
 Row(lat=52.5625, lon=-96.3125),
 Row(lat=52.5625, lon=-90.4375),
 Row(lat=52.5625, lon=-82.3125),
 Row(lat=52.6875, lon=-82.9375),
 Row(lat=52.8125, lon=-89.4375),
 Row(lat=52.8125, lon=-85.0625),
 Row(lat=52.8125, lon=-83.0625),
 Row(lat=52.8125, lon=-75.9375),
 Row(lat=52.9375, lon=-117.9375),
 Row(lat=52.9375, lon=-116.6875),
 Row(lat=52.9375, lon=-96.9375),
 Row(lat=52.9375, lon=-87.0625),
 Row(lat=25.0625, lon=-104.0625),
 Row(lat=25.0625, lon=-98.6875),
 Row(lat=25.1875, lon=-106.6875),
 Row(lat=25.3125, lon=-98.6875),
 Row(lat=25.5625, lon=-99.1875),
 Row(lat=25.8125, lon=-111.8125),
 Row(lat=25.9375, lon=-81.4375),
 Row(lat=26.1875, lon=-108.4375),
 Row(lat=26.1875, lon=-101.5625),
 Row(lat=26.6875, lon=-98.0625),
 Row(lat=27.3125, lon=-112.8125),
 Row(lat=27.4375, lon=-114.1875),
 Row(lat=27.5625, lon=-109.5625),
 Row(lat=27.8125, lon=-105.3125),
 Row(lat=27.8125, lon=-81.1875),
 Row(lat=28.0625, lon=-110.4375),
 Row(lat=28.3125, lon=-108.8125),
 Row(lat=28.6875, lon=-113.4375),
 Row(lat=29.0625, lon=-114.1875),
 Row(lat=29.0625, lon=-103.8125),
 Row(lat=29.0625, lon=-102.6875),
 Row(lat=29.3125, lon=-109.6875),
 Row(lat=29.3125, lon=-103.3125),
 Row(lat=29.9375, lon=-95.5625),
 Row(lat=30.3125, lon=-110.9375),
 Row(lat=30.5625, lon=-110.5625),
 Row(lat=30.5625, lon=-105.4375),
 Row(lat=30.8125, lon=-105.5625),
 Row(lat=31.1875, lon=-109.8125),
 Row(lat=31.1875, lon=-96.1875),
 Row(lat=31.1875, lon=-83.5625),
 Row(lat=31.1875, lon=-82.3125),
 Row(lat=31.4375, lon=-105.5625),
 Row(lat=31.4375, lon=-100.1875),
 Row(lat=31.6875, lon=-111.1875),
 Row(lat=31.6875, lon=-92.4375),
 Row(lat=31.9375, lon=-116.0625),
 Row(lat=31.9375, lon=-99.5625),
 Row(lat=31.9375, lon=-99.0625),
 Row(lat=32.0625, lon=-102.5625),
 Row(lat=32.0625, lon=-98.5625),
 Row(lat=32.1875, lon=-103.6875),
 Row(lat=32.3125, lon=-115.5625),
 Row(lat=32.3125, lon=-98.6875),
 Row(lat=32.3125, lon=-82.6875),
 Row(lat=32.3125, lon=-82.0625),
 Row(lat=32.6875, lon=-114.4375),
 Row(lat=32.6875, lon=-105.9375),
 Row(lat=32.8125, lon=-104.1875),
 Row(lat=32.8125, lon=-103.6875),
 Row(lat=32.8125, lon=-102.6875),
 Row(lat=32.9375, lon=-114.5625),
 Row(lat=33.1875, lon=-111.4375),
 Row(lat=33.1875, lon=-87.3125),
 Row(lat=33.3125, lon=-114.8125),
 Row(lat=33.3125, lon=-87.3125),
 Row(lat=33.4375, lon=-114.5625),
 Row(lat=33.4375, lon=-104.0625),
 Row(lat=33.6875, lon=-98.1875),
 Row(lat=33.6875, lon=-84.0625),
 Row(lat=33.8125, lon=-113.4375),
 Row(lat=34.0625, lon=-116.4375),
 Row(lat=34.1875, lon=-112.1875),
 Row(lat=34.1875, lon=-96.6875),
 Row(lat=34.3125, lon=-110.1875),
 Row(lat=34.3125, lon=-91.6875),
 Row(lat=34.3125, lon=-87.0625),
 Row(lat=34.3125, lon=-85.3125),
 Row(lat=34.3125, lon=-84.4375),
 Row(lat=34.3125, lon=-83.9375),
 Row(lat=34.4375, lon=-119.0625),
 Row(lat=34.4375, lon=-107.5625),
 Row(lat=34.4375, lon=-78.5625),
 Row(lat=34.5625, lon=-87.6875),
 Row(lat=34.6875, lon=-94.1875),
 Row(lat=34.6875, lon=-92.9375),
 Row(lat=34.8125, lon=-104.1875),
 Row(lat=34.8125, lon=-95.4375),
 Row(lat=34.8125, lon=-87.9375),
 Row(lat=34.9375, lon=-91.5625),
 Row(lat=35.0625, lon=-85.3125),
 Row(lat=35.0625, lon=-81.3125),
 Row(lat=35.1875, lon=-78.1875),
 Row(lat=35.3125, lon=-119.6875),
 Row(lat=35.3125, lon=-117.0625),
 Row(lat=35.5625, lon=-80.6875),
 Row(lat=35.6875, lon=-96.0625),
 Row(lat=35.6875, lon=-77.1875),
 Row(lat=35.9375, lon=-103.9375),
 Row(lat=35.9375, lon=-84.5625),
 Row(lat=35.9375, lon=-76.3125),
 Row(lat=36.0625, lon=-90.6875),
 Row(lat=36.1875, lon=-114.1875),
 Row(lat=36.1875, lon=-78.1875),
 Row(lat=36.3125, lon=-121.3125),
 Row(lat=36.5625, lon=-113.3125),
 Row(lat=36.5625, lon=-112.9375),
 Row(lat=36.5625, lon=-84.5625),
 Row(lat=36.5625, lon=-78.8125),
 Row(lat=36.9375, lon=-106.6875),
 Row(lat=36.9375, lon=-81.0625),
 Row(lat=37.0625, lon=-92.6875),
 Row(lat=37.3125, lon=-113.5625),
 Row(lat=37.3125, lon=-100.3125),
 Row(lat=37.4375, lon=-120.1875),
 Row(lat=37.4375, lon=-107.8125),
 Row(lat=37.5625, lon=-120.9375),
 Row(lat=37.5625, lon=-83.0625),
 Row(lat=37.6875, lon=-100.4375),
 Row(lat=37.8125, lon=-111.1875),
 Row(lat=37.8125, lon=-104.8125),
 Row(lat=37.8125, lon=-103.6875),
 Row(lat=37.9375, lon=-102.0625),
 Row(lat=38.0625, lon=-85.5625),
 Row(lat=38.1875, lon=-86.9375),
 Row(lat=38.1875, lon=-85.8125),
 Row(lat=38.3125, lon=-122.6875),
 Row(lat=38.3125, lon=-115.5625),
 Row(lat=38.3125, lon=-102.0625),
 Row(lat=38.3125, lon=-91.0625),
 Row(lat=38.4375, lon=-110.4375),
 Row(lat=38.4375, lon=-80.9375),
 Row(lat=38.5625, lon=-118.6875),
 Row(lat=38.6875, lon=-86.0625),
 Row(lat=38.6875, lon=-77.0625),
 Row(lat=38.8125, lon=-117.0625),
 Row(lat=38.9375, lon=-122.8125),
 Row(lat=38.9375, lon=-97.0625),
 Row(lat=38.9375, lon=-84.6875),
 Row(lat=39.1875, lon=-89.3125),
 Row(lat=39.3125, lon=-113.4375),
 Row(lat=39.3125, lon=-103.5625),
 Row(lat=39.3125, lon=-99.1875),
 Row(lat=39.4375, lon=-97.6875),
 Row(lat=39.4375, lon=-80.1875),
 Row(lat=39.5625, lon=-115.8125),
 Row(lat=39.6875, lon=-93.8125),
 Row(lat=39.6875, lon=-90.3125),
 Row(lat=39.6875, lon=-86.5625),
 Row(lat=39.8125, lon=-119.1875),
 Row(lat=39.8125, lon=-109.0625),
 Row(lat=39.8125, lon=-102.9375),
 Row(lat=39.9375, lon=-122.4375),
 Row(lat=39.9375, lon=-114.5625),
 Row(lat=40.0625, lon=-108.9375),
 Row(lat=40.0625, lon=-84.3125),
 Row(lat=40.1875, lon=-109.3125),
 Row(lat=40.3125, lon=-94.8125),
 Row(lat=40.4375, lon=-96.0625),
 Row(lat=40.4375, lon=-88.4375),
 Row(lat=40.4375, lon=-83.8125),
 Row(lat=40.5625, lon=-96.3125),
 Row(lat=40.5625, lon=-90.9375),
 Row(lat=40.5625, lon=-78.8125),
 Row(lat=40.6875, lon=-110.9375),
 Row(lat=40.6875, lon=-84.5625),
 Row(lat=40.8125, lon=-110.1875),
 Row(lat=40.9375, lon=-120.5625),
 Row(lat=40.9375, lon=-114.6875),
 Row(lat=40.9375, lon=-107.3125),
 Row(lat=41.0625, lon=-105.0625),
 Row(lat=41.0625, lon=-98.8125),
 Row(lat=41.0625, lon=-78.3125),
 Row(lat=41.0625, lon=-73.8125),
 Row(lat=41.1875, lon=-99.8125),
 Row(lat=41.1875, lon=-93.1875),
 Row(lat=41.1875, lon=-75.5625),
 Row(lat=41.3125, lon=-109.9375),
 Row(lat=41.3125, lon=-92.4375),
 Row(lat=41.4375, lon=-102.1875),
 Row(lat=41.5625, lon=-121.9375),
 Row(lat=41.5625, lon=-100.3125),
 Row(lat=41.9375, lon=-77.1875),
 Row(lat=42.0625, lon=-110.0625),
 Row(lat=42.1875, lon=-119.6875),
 Row(lat=42.1875, lon=-109.1875),
 Row(lat=42.1875, lon=-89.3125),
 Row(lat=42.1875, lon=-88.1875),
 Row(lat=42.1875, lon=-85.3125),
 Row(lat=42.1875, lon=-73.8125),
 Row(lat=42.3125, lon=-105.5625),
 Row(lat=42.3125, lon=-105.4375),
 Row(lat=42.5625, lon=-98.5625),
 Row(lat=42.5625, lon=-94.3125),
 Row(lat=42.8125, lon=-117.6875),
 Row(lat=42.9375, lon=-103.8125),
 Row(lat=43.0625, lon=-107.1875),
 Row(lat=43.0625, lon=-90.1875),
 Row(lat=43.1875, lon=-94.4375),
 Row(lat=43.4375, lon=-118.5625),
 Row(lat=43.4375, lon=-102.9375),
 Row(lat=43.5625, lon=-73.0625),
 Row(lat=43.6875, lon=-120.6875),
 Row(lat=43.8125, lon=-120.4375),
 Row(lat=43.8125, lon=-107.9375),
 Row(lat=43.8125, lon=-104.1875),
 Row(lat=43.8125, lon=-96.3125),
 Row(lat=43.9375, lon=-85.8125),
 Row(lat=43.9375, lon=-72.4375),
 Row(lat=44.0625, lon=-88.6875),
 Row(lat=44.1875, lon=-123.6875),
 Row(lat=44.1875, lon=-104.5625),
 Row(lat=44.1875, lon=-102.1875),
 Row(lat=44.1875, lon=-74.3125),
 Row(lat=44.1875, lon=-69.5625),
 Row(lat=44.4375, lon=-115.5625),
 Row(lat=44.4375, lon=-80.9375),
 Row(lat=44.4375, lon=-69.5625),
 Row(lat=44.5625, lon=-120.3125),
 Row(lat=44.5625, lon=-108.0625),
 Row(lat=44.5625, lon=-102.5625),
 Row(lat=44.5625, lon=-92.0625),
 Row(lat=44.5625, lon=-71.0625),
 Row(lat=44.8125, lon=-73.4375),
 Row(lat=45.1875, lon=-117.5625),
 Row(lat=45.1875, lon=-89.0625),
 Row(lat=45.3125, lon=-107.0625),
 Row(lat=45.4375, lon=-100.8125),
 Row(lat=45.4375, lon=-97.3125),
 Row(lat=45.4375, lon=-79.5625),
 Row(lat=45.5625, lon=-107.0625),
 Row(lat=45.5625, lon=-74.5625),
 Row(lat=45.5625, lon=-74.4375),
 Row(lat=45.5625, lon=-72.9375),
 Row(lat=45.6875, lon=-89.3125),

### **2. Implementacja algorytmu kNN:**

In [78]:
# function searches for points that lie within a (euclidean) ball of size *radius* around the query points
# if optional argument *k* is given then function searches for at most k nearest points that lie within
# a (euclidean) ball of size *radius* around the query points

#point = (latitude, longitude)
#df - Spark DataFrame collected in a list of Rows (in order to collect your DataFrame run: df.collect() )
def kRadiusNN(df: List[Row], radius: float, point: Tuple[float, float], label_column_name: str, k: Optional[int]=None) -> pd.DataFrame :
  assert (25.0625<= point[0] <=52.9375) and (-124.9375<= point[1] <=-67.0625 ), 'Wrong coordinates (out of range)'

  neighbours_pd = pd.DataFrame({"lon":[], "lat":[], 'dist':[], label_column_name: []})

  for row in df:

     lon = row['lon']
     lat = row['lat']
     label = row[label_column_name]
     dist = geodesic((lat, lon), point).km
     if dist <= radius:
        new_row = {'lon': lon , 'lat': lat, 'dist' : dist, label_column_name : label}
        neighbours_pd.loc[len(neighbours_pd)] = new_row

  if k and (k < len(neighbours_pd)):

      neighbours_pd = neighbours_pd.sort_values('dist', ascending=True)
      if not (neighbours_pd.at[k-1,'dist']==neighbours_pd.at[k,'dist']):  #checking if there is no tie (more neighbours with the same distance)
         neighbours_pd = neighbours_pd.iloc[:k]
      else:
         raise Exception("Unable to determine k nearest neighbours: more neighbours with the same distance")

  if len(neighbours_pd) == 0:
         raise Exception("No neighbours found within the given radius")

  return(neighbours_pd)

In [80]:
# weighted: if True then function will weight points by the inverse of their distance (in this case, closer neighbours of
# a query point will have a greater influence than neighbors which are further away).


#point = (latitude, longitude)
#df - Spark DataFrame collected in a list of Rows (in order to collect your DataFrame run: df.collect(), before applying function to your DataFrame)
def predict_class(df: List[Row], point: Tuple[float, float], radius: float, label_column_name: str,
                  k: Optional[int]=None, weighted: Optional[bool]=False) -> int :
 if k:
    neighbours = kRadiusNN(df, radius, point, label_column_name, k)
 else:
    neighbours = kRadiusNN(df, radius, point, label_column_name)


 if weighted:   #weighted nearest neighbours
    neighbours['dist'] = neighbours['dist'].map(lambda x: 1/x)

    label0 = neighbours[neighbours[label_column_name]==0]
    label1 = neighbours[neighbours[label_column_name]==1]

    frequency0 = label0['dist'].sum()
    frequency1 = label1['dist'].sum()

    return 0 if frequency0 > frequency1 else 1


 else:

    if len(neighbours[label_column_name].mode()) > 1:    #this is only possible when the number of neighbours is an even number (since we perform binary classification)
       raise Exception("Unable to predict the label: we have a tie, there is no clear winner in the majority voting")
    else:
      predicted_label = neighbours[label_column_name].mode().iat[0]

    return predicted_label

Wygenerujemy w sposób sztuczny etykiety dla zbioru w celu przetestowania funkcji:

In [60]:
df = nasa_coords.withColumn('label', (F.col('lat').cast('int'))%2)

In [67]:
df = df.collect()

In [68]:
%%time
predict_class(df, (40.5, -95), 18, "label", k=8, weighted=True)

CPU times: user 19.1 s, sys: 58.2 ms, total: 19.2 s
Wall time: 19.4 s

0

In [69]:
%%time
predict_class(df, (29.5, -92), 20, "label", k=None, weighted=False)

CPU times: user 18.7 s, sys: 61.8 ms, total: 18.8 s
Wall time: 18.9 s

1

In [70]:
%%time
predict_class(df, (31.5, -112), 20, "label", k=8, weighted=True)

CPU times: user 19.6 s, sys: 73.1 ms, total: 19.7 s
Wall time: 19.9 s

1

In [71]:
%%time
predict_class(df, (40.5, -95), 18, "label", k=8, weighted=True)

CPU times: user 19.1 s, sys: 75.2 ms, total: 19.2 s
Wall time: 19.4 s

0

In [77]:
%%time
predict_class(df, (49.375, -80.125), 15, "label", k=8, weighted=True)

CPU times: user 19.2 s, sys: 51.7 ms, total: 19.2 s
Wall time: 19.5 s

1