<a href="https://colab.research.google.com/github/PiotrMaciejKowalski/BigData2024Project/blob/Szablon-wczytywania-danych-w-sparku/colabs/Wczytywanie_danych_NASA_w_sparku.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wczytywanie danych w sparku

Utworzenie środowiska pyspark do obliczeń:

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q dlcdn.apache.org/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
!tar xf spark-3.5.0-bin-hadoop3.tgz

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"

!pip install -q findspark

import findspark
findspark.init()

Utowrzenie sesji:

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

Połączenie z dyskiem:

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Wczytanie danych NASA znajdujących się na dysku w sparku:

In [4]:
df = spark.read.format('csv').option("header", True).load('/content/drive/MyDrive/BigMess/NASA/NASA.csv')
df.show(5)

+---------+-------+------+----------------+----------------+----------------+-----------------+----------------+----------------+-----------------+---+-----+-----+----------------+---+-----------------+---+----------------+----------------+---+---------+--------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+----------------+-----------------+-------+-------------------+-------------------+--------------------+-----------------+-----------------+-----------------+-----------------+----------------+-------------------+----------------+-----------------+----------+
|      lon|    lat|  Date|          SWdown|          LWdown|           SWnet|            LWnet|             Qle|              Qh|               Qg| Qf|Snowf|Rainf|            Evap| Qs|              Qsb|Qsm|        AvgSurfT|          Albedo|SWE|SnowDepth|SnowFrac|    SoilT_0_10cm|   SoilT_10_40cm|  SoilT_40_100cm| SoilT_100_200cm|    SoilM_0_10cm|   SoilM_10_40cm|  SoilM_40_100cm| SoilM_100_200cm|   SoilM_0_100cm|   SoilM_0_200cm|       RootMoist|    SMLiq_0_10cm|   SMLiq_10_40cm|  SMLiq_40_100cm| SMLiq_100_200cm| SMAvail_0_100cm| SMAvail_0_200cm|         PotEvap|           ECanop|            TVeg|            ESoil|SubSnow|           CanopInt|              ACond|               CCond|              RCS|              RCT|              RCQ|            RCSOL|           RSmin|             RSMacr|             LAI|             GVEG|Streamflow|
+---------+-------+------+----------------+----------------+----------------+-----------------+----------------+----------------+-----------------+---+-----+-----+----------------+---+-----------------+---+----------------+----------------+---+---------+--------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+----------------+-----------------+-------+-------------------+-------------------+--------------------+-----------------+-----------------+-----------------+-----------------+----------------+-------------------+----------------+-----------------+----------+
|-112.0625|25.0625|200001|204.963333129883|312.338806152344|142.348480224609|-79.3868408203125|4.08844137191772|60.8533630371094|-1.09448909759521|  0|    0|    0|4.38070011138916|  0|                0|  0|288.070709228516|41.4771499633789|  0|        0|       0|  288.1650390625|288.546173095703|289.007141113281|289.581176757812|12.8971300125122|40.7092170715332|80.8755493164062|108.769309997559|134.483062744141|243.252471923828|243.252502441406|12.8973951339722|40.7097206115723|80.8760681152344| 108.76944732666|14.9853420257568|27.7052726745605| 139.13737487793| 1.04919338226318|5.00860404968262| 3.34247326850891|      0| 0.0138126369565725| 0.0205443874001503| 0.00184930011164397|0.291779965162277|0.920802056789398|0.919852077960968|0.168869480490685|              70| 0.0246706604957581|3.34216332435608|0.197127923369408|        NA|
|-111.9375|25.0625|200001|202.942184448242|306.121429443359|140.832000732422|-82.5664291381836|4.35792922973633|56.3985176086426|-1.55671918392181|  0|    0|    0|4.66739940643311|  0|                0|  0|287.392761230469| 41.509407043457|  0|        0|       0|  287.5439453125|288.120880126953|288.801696777344|289.747802734375|11.6154918670654|40.1498908996582|78.3341751098633|90.6749496459961|130.099655151367|220.774490356445|220.774658203125|11.6156034469604| 40.150089263916|78.3340225219727|90.6747589111328|11.9760599136353|25.1479911804199|162.256378173828|0.732123613357544|4.86398077011108| 2.43534970283508|      0|0.00929193291813135| 0.0185699407011271|   0.001328423502855|0.291777074337006|0.898519396781921|0.892686665058136|0.134808197617531|              70| 0.0167044140398502|3.29259920120239|0.198604047298431|        NA|
|-111.8125|25.0625|200001|203.274490356445|303.238098144531|141.065444946289|-87.6975936889648|5.46384239196777|51.0916595458984|-1.92997336387634|  0|    0|    0|5.84879732131958|  0|                0|  0|287.655395507812|41.5053749084473|  0|        0|       0|  287.8447265625|288.593017578125|289.559844970703|291.086212158203|9.95065498352051|33.0168876647949|60.9825057983398|161.947937011719|103.950080871582|265.898529052734|103.950050354004|  9.950758934021|33.0171775817871|60.9821434020996|161.948425292969|10.2501449584961|30.2862815856934|121.554039001465|0.264650523662567|5.90295743942261|0.835081100463867|      0|0.00314489239826798|0.00958198495209217| 0.00158269272651523|0.281871050596237|0.891424596309662|0.911206781864166|0.115088783204556|              35| 0.0078924149274826|2.27206707000732|0.171185433864594|        NA|
|-111.6875|25.0625|200001| 204.13232421875|301.050476074219|141.651077270508|-89.4936904907227|6.01236057281494|49.6396789550781|-2.09932780265808|  0|    0|    0|6.43660163879395|  0|                0|  0|287.538604736328|41.5013427734375|  0|        0|       0|287.752746582031|    288.58203125|289.611419677734|291.255767822266|9.59785747528076| 33.778392791748|62.6569938659668| 163.44401550293|106.033012390137|269.477325439453|106.032844543457|9.59792137145996|33.7784423828125|62.6565399169922|163.444091796875|10.8088731765747|30.6918334960938|127.634071350098|0.226881787180901|6.39838647842407|0.701209843158722|      0|0.00258333422243595|0.00934139359742403| 0.00160926254466176|0.282299816608429|0.889932870864868|0.887930989265442|0.121430978178978|              35|0.00649060634896159|2.27206707000732|0.171185433864594|        NA|
|-111.5625|25.0625|200001| 205.44482421875|299.259704589844|142.543151855469|-89.4733581542969|3.22271490097046|53.4757080078125|-2.32795691490173|  0|    0|    0|3.45069861412048|  0|0.148801371455193|  0|287.239410400391| 41.509407043457|  0|        0|       0| 287.46533203125|288.330780029297|289.237091064453|290.558288574219|9.84874534606934|49.1514205932617| 102.42985534668|187.078857421875|161.430114746094|348.508666992188| 161.43000793457|  9.848876953125|49.1513023376465|102.430152893066|187.078643798828|25.6490955352783|39.6970176696777|179.376678466797|0.224327951669693|3.35873556137085| 1.19650542736053|      0|0.00246733799576759| 0.0145416725426912|0.000972576846834272|0.250110805034637| 0.88808286190033|0.839992880821228|0.285061895847321|225.000015258789|0.00775667373090982|4.48585605621338|0.142987594008446|        NA|
+---------+-------+------+----------------+----------------+----------------+-----------------+----------------+----------------+-----------------+---+-----+-----+----------------+---+-----------------+---+----------------+----------------+---+---------+--------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+-----------------+----------------+-----------------+-------+-------------------+-------------------+--------------------+-----------------+-----------------+-----------------+-----------------+----------------+-------------------+----------------+-----------------+----------+
only showing top 5 rows

Konwersja typu danych:

In [5]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, FloatType
for column in df.columns:
    if column == "Date":
        df = df.withColumn(column, col(column).cast(IntegerType()))
    else:
        df = df.withColumn(column, col(column).cast(FloatType()))

Zanim zacznimy pisać kwerendy należy jeszcze dodać nasz DataFrame (df) do "przestrzeni nazw tabel" Sparka:

In [6]:
df.createOrReplaceTempView("df")

Test:

In [7]:
%%time
spark.sql("""
          SELECT
          MIN(Date) AS min_date,
          MAX(Date) AS max_date,
          COUNT(DISTINCT Date) AS count_distinct_date
          FROM df
          """).show()

+--------+--------+-------------------+
|min_date|max_date|count_distinct_date|
+--------+--------+-------------------+
|  200001|  202309|                285|
+--------+--------+-------------------+

CPU times: user 1.16 s, sys: 153 ms, total: 1.31 s
Wall time: 3min 47s